@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Montserrat:wght@600&display=swap');

.pageRoot {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.content-list {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    border-width: 0px;
    border-color: black;
    border-style: solid;
    

    font-size: 1.5vw;
}

.content-list li {
    padding-bottom: 1vh;
    
}

.content-list li p{
    margin: 0 0;
    
}

.content-list li p:hover {
    color: red;
}

.content-list h2 {
    
    margin-bottom: 1vh;
}
